<app-header>
</app-header>

<ion-content>
  <style>
    .tab {position:absolute;left:150px; }
    </style>
    <h1 style ="text-align: center;">ParkApp</h1>
  
    <ul>
      
      <li >Nombres:<span class="tab">Evert</span></li>
      <li >Apellidos:<span class="tab">Ojeda Prieto</span></li>
      <li >Email:<span class="tab">evert.oj@hotmail.es</span></li>
      <li >Skills:<span class="tab">Programación</span></li>      
    </ul>
    <ul>
      
      <li >Nombres:<span class="tab">Gustavo Ernesto</span></li>
      <li >Apellidos:<span class="tab">Garcete Aguiar</span></li>
      <li >Email:<span class="tab">gustavogarcete04@gmail.com</span></li>
      <li >Skills:<span class="tab">Programación</span></li>   
    </ul>

    <div style="position: absolute; bottom: 0px; width: 100%">
      <div style="text-align: center">
        <p>Ingenieria de Sistemas</p>
      </div>
    </div>
</ion-content>